/* ======================USE GOOGLE FONTS======================*/
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kalam:wght@300;400;700&display=swap");

/* ======================VARIABLES======================*/
:root {
  --primary-font: 'Be Vietnam Pro', sans-serif;
  --second-font: 'Kalam', cursive;

  --green: #5c9155;
  --white: #fff;
  --black: #151515;
  --yellow: #e9da5d;
  --gray: #9b9b9b;
  --light-gray: #eee;
  --shadow: rgba(0, 0, 0, 0.05);

  --top-bottom: 11rem;
  --left-right: 1.5rem;
}

/* ======================SETUP TAG======================*/
*,
::before,
::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
  scroll-behavior: smooth;
}
::selection {
  background-color: var(--green);
  color: var(--white);
}
html {
  font-family: var(--primary-font);
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  color: var(--black);
}
li {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  user-select: none;
}
button {
  display: inline-block;
  border: none;
  background: none;
  color: inherit;
  outline: none;
  cursor: pointer;
  user-select: none;
}
img {
  display: inline-block;
  max-width: 100%;
}
i {
  transition: none;
}
/* ======================COMMON CLASSES======================*/
.grid {
  display: grid;
}
.flex {
  display: flex;
  align-items: center;
}
.container {
  max-width: 1200px;
  padding: 0 var(--left-right);
  margin: 0 auto;
}
.logo {
  width: 14rem;
}
.heading-4 {
  font-family: var(--second-font);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
.scroll-btn {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  padding: 1.6rem 1.9rem;
  border-radius: 50%;
  background-color: var(--green);
  color: var(--white);
  opacity: 0.5;
}
.scroll-btn:hover {
  opacity: 1;
}
