.product {
  padding: var(--top-bottom) 0;
  text-align: center;
}
.product__subheading {
  color: var(--green);
}
.product__heading {
  margin-top: 2rem;
  font-size: 5.5rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.18182;
}
.product-list {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 3rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
}
.product-item {
  --radius: 1rem;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  padding: 2rem 1.5rem 4rem;
  background-color: var(--light-gray);
  border-radius: var(--radius);
}
.product-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--radius);
  background-color: var(--black);
  opacity: 0;
  visibility: hidden;
}
.product-item:hover::before {
  opacity: 0.25;
  visibility: visible;
}
.product__label {
  --size: 0.8rem;
  position: absolute;
  top: 2rem;
  right: calc(-1 * var(--size));
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}
.product__label--sale {
  color: var(--white);
  background-color: var(--green);
}
.product__label--new {
  color: var(--black);
  background-color: var(--yellow);
}
.product__label::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: calc(-1 * var(--size));
  border-style: solid;
  border-width: calc(var(--size) / 2);
  opacity: 0.5;
}
.product__label--sale::after {
  border-color: var(--green) transparent transparent var(--green);
}
.product__label--new::after {
  border-color: var(--yellow) transparent transparent var(--yellow);
}
.product__img {
  margin-top: 4rem;
}
.product-content {
  margin-top: 2rem;
  letter-spacing: 0.05em;
}
.product__name {
  margin-bottom: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.6667;
  color: var(--green);
}
.product__price--old {
  color: var(--gray);
  text-decoration: line-through;
}
.product__price--new {
  margin-left: 0.8rem;
  font-weight: 700;
  color: var(--green);
}
.product-item:hover .product-btn {
  opacity: 1;
  visibility: visible;
}
.product-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 1.3rem;
  font-size: 2.4rem;
  background-color: var(--yellow);
  color: var(--black);
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
}
.product-btn:hover {
  background-color: var(--green);
  color: var(--white);
}
.product-btn:hover .product__icon {
  color: var(--white);
}
.product-link {
  text-decoration: underline;
  font-weight: 600;
  font-size: 1.8rem;
}
.product-link:hover {
  color: var(--green);
}
.product-link:hover .product__icon.more {
  color: var(--green);
}