@import url(../common/base.css);
@import url(./aside.css);
@import url(./form.css);
@import url(./main.css);

.main-table__id {
  position: relative;
}
.main__btn--search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
}
tr:hover .main__btn--search {
  visibility: visible;
  opacity: 1;
}
.main-table__status-txt {
  --height: 4rem;
  display: block;
  height: var(--height);
  padding: 0 0.8rem;
  white-space: nowrap;
  text-align: center;
  line-height: var(--height);
  border-radius: 0.5rem;
}
.main-table__status-txt.pending {
  color: var(--white);
  background-color: var(--gray);
}
.main-table__status-txt.repare {
  color: var(--white);
  background-color: var(--black);
}
.main-table__status-txt.delivery {
  color: var(--black);
  background-color: var(--yellow);
}
.main-table__status-txt.success {
  color: var(--white);
  background-color: var(--green);
}
.main-table__status-txt.cancel {
  color: var(--white);
  background-color: red;
}
.main__btn.disable {
  opacity: 0.5;
  pointer-events: none;
}
