@import url(../common/base.css);
@import url(./header.css);
@import url(./hero.css);
@import url(./product.css);
@import url(./footer.css);

/*-------------Override Product CSS-------------*/
.product {
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "filter main main main";
  grid-column-gap: 3rem;
}
.product-filter {
  grid-area: filter;
  text-align: left;
}
.product-filter__title {
  padding-bottom: 1.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.75;
  letter-spacing: 0.075em;
  color: var(--green);
  border-bottom: 0.01rem solid var(--light-gray);
}
.product-filter__list {
  margin-top: 2.4rem;
}
.product-filter__item {
  justify-content: space-between;
}
.product-filter__item ~ .product-filter__item {
  margin-top: 1.2rem;
}
.product-category {
  margin-bottom: 5rem;
}
.product-category__input {
  line-height: 1.6;
  letter-spacing: 0.1em;
  font-weight: 600;
}
.product-category__checkbox {
  --size: 2rem;
  display: block;
  width: var(--size);
  height: var(--size);
  margin-right: 1.6rem;
}
.product-category__checkbox,
.product-category__label {
  cursor: pointer;
  user-select: none;
}
.product-category__checkbox:checked ~ .product-category__label,
.product-category__label:hover {
  color: var(--green);
}
.product-popular__item {
  justify-content: flex-start;
}
.product-popular__item ~ .product-popular__item {
  margin-top: 2rem;
}
.product-popular__btn {
  width: 10.6rem;
  height: 10.4rem;
}
.product-popular__img {
  width: 100%;
  height: 100%;
}
.product-popular__desc {
  margin-left: 2rem;
}
.product-popular__link {
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.product-popular__price {
  color: var(--green);
}
.product-popular__link:hover {
  color: var(--green);
}
.product__main {
  grid-area: main;
}
.product-sort__control {
  position: relative;
}
.product-sort {
  justify-content: space-between;
  letter-spacing: 0.05em;
  text-align: left;
}
.product-sort__btn {
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}
.product-sort__icon {
  margin-left: 1rem;
  transition: inherit;
}
.product-sort__icon.rotate {
  transform: rotate(-180deg);
}
.product-sort__list {
  position: absolute;
  margin-top: 1.2rem;
  box-shadow: 0 0 0.2rem 0.2rem var(--shadow);
  background-color: var(--white);
  border-radius: 0.5rem;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
.product-sort__list.show {
  opacity: 1;
  visibility: visible;
}
.product-sort__item {
  padding: 0.4rem 0.8rem;
  line-height: 1.72;
  cursor: pointer;
  user-select: none;
}
.product-sort__item.active,
.product-sort__item:hover {
  color: var(--white);
  background-color: var(--green);
}
.product__list {
  grid-template-columns: repeat(3, 1fr);
}
.product-pagination {
  justify-content: center;
  column-gap: 1rem;
  user-select: none;
}
.product-paganation__btn {
  font-size: 1.8rem;
  font-weight: 500;
  background-color: var(--yellow);
  color: var(--black);
}
.product-paganation__btn:hover,
.product-paganation__btn.active {
  color: var(--white);
  background-color: var(--green);
}
.product-paganation__btn.active {
  pointer-events: none;
}
.product-paganation__btn.disable {
  opacity: 0.5;
  pointer-events: none;
}
.product-paganation__btn--redirect {
  font-size: 2rem;
}
.product-paganation__btn--redirect:hover .product-paganation__icon {
  color: var(--white);
}
